heat_template_version: 2013-05-23

description: |
  Test Cloud Backup resource

resources:

  server_config:
    type: OS::Heat::CloudConfig
    properties:
      cloud_config:
        packages:
        - httpd
        write_files:
        - path: /root/phonehome.sh
          permissions: "0700"
          content:
            str_replace:
              template: |
                #!/bin/bash
                wc_notify --data-binary '{"status": "SUCCESS"}'
              params:
                wc_notify: { get_attr: [ 'wait_handle', 'curl_cli' ] }
        runcmd:
        - /root/phonehome.sh

  wait_on_content:
    type: OS::Heat::SwiftSignal
    properties:
      handle: { get_resource: wait_handle }
      timeout: 600
      count: 2

  wait_handle:
    type: OS::Heat::SwiftSignalHandle

  rax_backup_config_ip:
    type: Rackspace::Cloud::BackupConfig
    depends_on: wait_on_content
    properties:
      BackupConfigurationName:
        str_replace:
          template: stack-ip-backup
          params:
            stack: { get_param: "OS::stack_name" }
      DayOfWeekId: null
      Frequency: Hourly
      StartTimeHour: null
      StartTimeMinute: null
      StartTimeAmPm: null
      HourInterval: 1
      IsActive: true
      Enabled: true
      NotifyFailure: true
      NotifyRecipients: username@domain.com
      NotifySuccess: false
      TimeZoneId: Eastern Standard Time
      VersionRetention: 60
      host_ip_address: { get_attr: [server1, accessIPv4] }
      Inclusions:
      - FilePath: /var/www
        FileItemType: Folder

  rax_backup_config_id:
    type: Rackspace::Cloud::BackupConfig
    depends_on: wait_on_content
    properties:
      BackupConfigurationName:
        str_replace:
          template: stack-id-backup
          params:
            stack: { get_param: "OS::stack_name" }
      DayOfWeekId: null
      Frequency: Hourly
      StartTimeHour: null
      StartTimeMinute: null
      StartTimeAmPm: null
      HourInterval: 1
      IsActive: true
      Enabled: true
      NotifyFailure: true
      NotifyRecipients: username@domain.com
      NotifySuccess: false
      TimeZoneId: Eastern Standard Time
      VersionRetention: 60
      server: { get_resource: server2 }
      Inclusions:
      - FilePath: /var/www
        FileItemType: Folder

  server1:
    type: OS::Nova::Server
    properties:
      name: { get_param: "OS::stack_name" }
      flavor: 2 GB Performance
      image: CentOS 7 (PVHVM)
      metadata:
        build_config: backup_agent_only
      user_data: { get_attr: [ server_config, config ] }

  server2:
    type: OS::Nova::Server
    properties:
      name: { get_param: "OS::stack_name" }
      flavor: 2 GB Performance
      image: CentOS 7 (PVHVM)
      metadata:
        build_config: backup_agent_only
      user_data: { get_attr: [ server_config, config ] }